@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Poiret+One&family=Quicksand:wght@300..700&family=Rakkas&family=Teko:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Footer*/

footer {
  background: radial-gradient(rgb(184, 184, 184), #acacac);
  padding: 20px;
}

.head {
  text-align: center;
  font-family: Titillium Web;
  font-size: 20px;
  padding: 20px;
}

.hd {
  text-align: center;
  font-family: Titillium Web;
  margin-bottom: 10px;
}

.mail {
  font-family: Quicksand;
  text-align: center;
}

.box {
  padding: 5px;
  font-family: Quicksand;
  border: 1px solid black;
  border-radius: 12px;
  width: 200px;
  margin-left: 10px;
  text-align: center;
}

.big {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px 10px 40px;
}

.list {
  padding: 18px;
  display: flex;
}

.ft,
.bt {
  list-style-type: none;
  font-family: Titillium Web;
}

.ft li a {
  text-decoration: none;
  color: #555;
  display: flex;
}

.ft li a:hover {
  color: rgb(0, 0, 0);
}

.high {
  font-family: Titillium Web;
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

.bottom {
  justify-content: center;
}

.bt {
  text-align: center;
  border-radius: 30px;
  width: 400px;
  padding: 10px;
  background-color: #000000;
  color: white;
  margin: 0 auto;
}

.bt li {
  margin-bottom: 10px;
  font-weight: bold;
}

.bt span {
  padding: 6px;
}

.bt img:hover {
  transform: scale(125%);
}

#line {
  margin-top: 20px;
  border-left: 3px solid white;
  height: 150px;
}

.right {
  text-align: center;
  padding: 20px;
  font-family: Ruda;
}
